#reviews{
    margin-top: 4rem;
}


h2{
    color:darkblue;
    text-align:center;
    color:darkblue;
    mborder:.5px solid;
}
.reviews-section{
    padding:0;
    font-family: Arial;
    display:flex;
    justify-content: center;
    vmargin: .65rem;
    mborder: .5px solid;
}
.review{
    display: flex;
    flex-direction: column;
    text-align:center;
    border:.5px solid;
    border-color:gray;
    border-radius: 5px;
    margin:1rem;
    padding:.5rem;
    height:16rem;
    width:12rem;
}
.review div{
    margin-top: .5rem;
}
.review :last-child{
    margin-top: 0;
}
.review-title{
    font-weight: bold;
}
.review-content{
    color:gray;
}
.review-name{
    font-weight: bold;
}
.reviewer-info{
    font-size:8pt;
    color:gray;
}
.stars{
    margin: .75rem;
}
#review-averages{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.company-review-average{
    margin:1rem 3rem;

}
.review-quantity{
    font-size: 8pt;
}
.avg-stars{
    margin:.5rem auto .1rem; 
    color:darkblue;
}
.disclaimer{
    font-size: 8pt;
    color:gray;
    margin: .5rem;
}
#review-button{
    margin:1.75rem;
    background-color: white;
    border-radius:3px;
    border: .5px solid gray;
    color:darkblue;
    padding: .75rem;
    font-weight: bold;
    width:10rem;
}
img{
    height:1.5rem;
    width:1.5rem;
}

